body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(56, 50, 169);
    font-family: sans-serif;

}

input {
    background-color: white;
    color: black;
    outline: none;
    text-align: right;
    border: none;
    font-size: 3rem;
    width: 800px;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
}

.container {
    margin: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table {
    margin: auto;
}

button {
    background-color: white;
    width: 210px;
    height: 60px;
    padding: 0.5rem 0;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    border-radius: 5px;
    border: none;
}

/* @media only screen and (max-width: 768px) { */
    /* For mobile phones: */
    /* [class*="col-"] {
      width: 100%;
    }
  } */

